<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <h1>Get Started</h1>
    <button class="login-btn">Sign In</button>
    <button class="signup-btn">Sign Up</button>
</div>

</body>
</html>
