<h1>Create new password</h1>

<form action="/reset-password" method="POST">
    <input type="password" name="password" placeholder="New Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Submit">

</form>
