<link rel="stylesheet" href="/css/user_sign_up.css">

<% if(accessToken){ %>
    <h1>Create new password</h1>
    <div class="container">
        <form action="/reset-password?accessToken=<%= accessToken.tokenId %>" method="POST">
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" value="Submit">
        </form>
    </div>
<%}else{%>    
    <p>Invalid Request</p>
<%} %>