<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Please enter your email address</h1>

<div class="container">
    <form action="/verify-user" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" value="Submit">
    </form>
</div>
