<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Sign In</h1>

<div class="container">
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In">
    </form>
    <p><a href="/forgot-password">Forgot Password</a></p>
</div>

<p>Or</p>
<div class="center-container">
    <button type="button" class="login-with-google-btn">
        <a href="/users/auth/google">Continue with Google</a>
    </button>
</div>
