<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Create your account</h1>

<div class="container">
    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account?<a href="/users/sign-in">Sign In</a></p>
</div>

<p>Or</p>
<div class="center-container">
    <button type="button" class="login-with-google-btn">
        <a href="/users/auth/google">Continue with Google</a>
    </button>
</div>

